In [2]:
import os

import pandas as pd

In [10]:
gt = []
tables = os.listdir(".")
for file_name in tables:
    if not file_name.endswith(".csv"):
        continue
    df = pd.read_csv(f"{file_name}")
    table_name = os.path.splitext(file_name)[0]
    for i, row in df.iterrows():
        gt.append((table_name, i + 1, 0, row["QID"]))
    df = df.drop(columns=["QID"])
    df.to_csv(f"{file_name}", index=False)

In [11]:
gt_df = pd.DataFrame(gt)
gt_df

                  0    1  2          3
0    Github_Testset    1  0        NIL
1    Github_Testset    2  0        NIL
2    Github_Testset    3  0        NIL
3    Github_Testset    4  0        NIL
4    Github_Testset    5  0        NIL
..              ...  ... ..        ...
489  Github_Testset  490  0    Q981237
490  Github_Testset  491  0    Q986087
491  Github_Testset  492  0    Q986087
492  Github_Testset  493  0  Q99286585
493  Github_Testset  494  0    Q999763

[494 rows x 4 columns]

In [13]:
gt_df.to_csv("cea_gt.csv", index=False, header=False)