In [2]:
import pandas as pd

In [3]:
df = pd.read_pickle("B:/Projects/alligator/Data/filtered_all_datasets_gt.pkl")

In [10]:
df.head()

,0,1,2,3,4,dataset_name
13,8Y8A14P8,1,0,http://www.wikidata.org/entity/Q15434055,"[(Q35749, parliament)]",HardTablesR2
14,8Y8A14P8,2,0,http://www.wikidata.org/entity/Q1112381,"[(Q35749, parliament), (Q37002670, unicameral ...",HardTablesR2
15,8Y8A14P8,3,0,http://www.wikidata.org/entity/Q1501976,"[(Q375928, lower house)]",HardTablesR2
16,8Y8A14P8,4,0,http://www.wikidata.org/entity/Q48800282,"[(Q35749, parliament)]",HardTablesR2
17,8Y8A14P8,5,0,http://www.wikidata.org/entity/Q56612884,"[(Q35749, parliament)]",HardTablesR2

In [15]:
# group by column 0 and 1
grouped = df.groupby([0, 1])

groups = list(grouped.groups.keys())
groups[:10]

[('000COX8L', 1),
 ('000COX8L', 2),
 ('000COX8L', 3),
 ('000COX8L', 4),
 ('000COX8L', 5),
 ('000COX8L', 6),
 ('000COX8L', 7),
 ('001OFAHZ', 1),
 ('001OFAHZ', 2),
 ('007O51ZZ', 1)]

In [16]:
grouped.get_group(('000COX8L', 1))

,0,1,2,3,4,dataset_name
31931,000COX8L,1,0,Q67639471,"[(Q865588, committee)]",SemTab2020_Data_CEA_Round1